.trainingsContainer {
    margin: 0 33%;
    margin-top: 10%;
}
.inputForm, .labels, .trackList, .trackContainer {
    display: flex;
    flex-direction: row;
}
.inputForm {
    margin: 0 12%;
}
.dateContainer, .distanceContainer {
    display: flex;
    flex-direction: column;
}
.inputForm label {
    margin-bottom: 15px;
}
.contentContainer {
    margin: 3em;
}
.labels {
    margin: 1em;
}
.labels span {
    margin: 0 auto;
}
.trackList {
    display: flex;
    min-height: 10em;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
}
.trackContainer div {
    margin: 0 auto;
    margin-top: 1em;
    user-select: none;
}
.inputForm button {
    margin-top: 2.6em;
    padding: 5px 25px 10px 25px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 5px;
    width: 70px;
    height: 48px;
    line-height: 40px;
}
.date, .distance {
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 15px;
    padding: 15px;
}
.cross {
    cursor: pointer;
}
